<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Syntax" value="dotnetattributes" /><!--sjasmplus,zeus,dotnetattributes -->
    <add key="OutputFile" value=".\Properties\AssemblyInfoExtra.cs" />
	<add key="Copyright" value="Copyright © 2017-[yyyy] Robin Verhagen-Guest" />
	<add key="AssemblyVersion" value="1.6.0.0" />
	<add key="AssemblyInformationalVersion" value="1.6.0.[GitHashShort]" />
  </appSettings>
</configuration>